<div class="card-body">
  <table class="table table-bordered tabla-alumnos">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Nota</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let nota of notas" [class.table-success]="nota.nota >= 5" [class.table-danger]="nota.nota < 5">
        <td>{{nota.nombre}}</td>
        <td>{{nota.apellido}}</td>
        <td class="text-center">{{nota.nota}}</td>
        <td>
          <a href="#" class="borrar" (click)="borrarNota(nota.id, $event)">
            <i class="fa fa-times-circle"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
