<div class="card-footer totales">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Nota media</div>
        <div class="card-body numbers">{{notaMedia | number:"1.0-2"}}</div>
        <i class="fa fa-frown icono-no-ok icono-status" *ngIf="notaMedia < 5"></i>
        <i class="fa fa-smile icono-ok icono-status" *ngIf="notaMedia >= 5"></i>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Máxima nota</div>
        <div class="card-body numbers">{{notaMaxima}}</div>
        <i class="fa fa-frown icono-status icono-no-ok"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Aprobados</div>
        <div class="card-body numbers">{{aprobados}} ({{aprobadosPorcentaje}}%)</div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Suspensos</div>
        <div class="card-body numbers">{{suspensos}} ({{suspensosPorcentaje}}%)</div>
      </div>
    </div>
  </div>
</div>
