<div class="row">
  <div class="col">
    <div class="form-anyadir card">
      <div class="row">
        <div class="col-4 offset-4">
          <form novalidate #formNuevaNota="ngForm" (ngSubmit)="enviaNota()">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nota.nombre"
                #nombre="ngModel" required>
              <p class="error" *ngIf="!nombre.valid && nombre.dirty">Por favor, revisa este campo</p>
            </div>
            <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="nota.apellido"
                #apellido="ngModel" required [readonly]="!nombre.valid">
              <p class="error" *ngIf="!apellido.valid && apellido.dirty">Por favor, revisa este campo</p>
            </div>
            <div class="form-group">
              <label for="nota">Nota:</label>
              <input type="number" class="form-control form-control-sm" id="nota" name="nota" [(ngModel)]="nota.nota"
                #notaForm="ngModel" required>
              <p class="error" *ngIf="!notaForm.valid && notaForm.dirty">Por favor, revisa este campo</p>
            </div>
            <button class="btn btn-primary" [disabled]="!formNuevaNota.form.valid">añadir</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
