<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand">Notas App</h1>
    </div>
    <span class="nav navbar-nav navbar-right titulo-seccion">
      Listado de notas
    </span>
  </div>
</header>
