<div class="card">
  <div class="header row">
    <h2 class="col-10">Aula {{aula | uppercase}}</h2>
    <div class="col-2 anyadir">
      <a href="#" [routerLink]="['/crear-nota', aula]">
        <i class="fa fa-plus-circle"></i>
      </a>
    </div>
  </div>
  <notas-notas [aula]="aula"></notas-notas>
  <notas-estadisticas-aula [aula]="aula"></notas-estadisticas-aula>
</div>
